header{
    width: 100%;
    padding: 20px;
    height: 90px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: start;
}

header h1{
    font-weight: bold;
    font-size: 45px;
    color: white;
}

.product-section{
    width: 90%;
    margin: 0 auto;
    height: calc(100vh -90px);
}